mat-card-content
  margin: 1rem

  div.ligne
    display: flex
    flex-direction: row

    &:first-child
      margin-top: 1rem

    label
      width: 15rem
      font-weight: bold
      flex-shrink: 0

    span
      a
        display: block

  div.commandes
    margin-top: 0.5rem
    padding: 0.5rem 0 0.5rem 0.5rem
    border: 1px solid var(--mat-sys-primary)
    border-radius: 1rem
